@use './../../styles/variables' as *;
@use 'sass:color';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: $orange;
  transition: all $duration ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($orange, $lightness: -5%);
  }

  &:active {
    border-color: color.adjust($orange, $lightness: -15%);
    transform: translateY(1px);
  }

  &_circle {
    border-color: $orange;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    font-weight: 800;
    font-size: 18px;
    color: $orange;
    background-color: transparent;

    &:hover {
      color: #fff;
      background-color: $orange;
    }

    &:active {
      border-color: color.adjust($orange, $lightness: -10%);
      color: #fff;
      background-color: color.adjust($orange, $lightness: -10%);
      transform: translateY(1px);
    }

    &_delete {
      border-color: #d3d3d3;
      background-color: transparent;

      span {
        display: block;
        color: #d3d3d3;
        transform: rotate(45deg);
        transition: all $duration ease-in-out;
      }

      &:hover {
        border-color: #e32636;
        background-color: transparent;

        span {
          color: #e32636;
        }
      }

      &:active {
        border-color: color.adjust(#e32636, $lightness: -10%);
      }
    }
  }

  &_category {
    color: #282828;
    background-color: #f9f9f9;

    &:hover {
      background-color: color.adjust(#f9f9f9, $lightness: -5%);
    }

    &:active {
      border-color: transparent;
      background-color: color.adjust(#f9f9f9, $lightness: -10%);
    }

    &_active {
      color: #fff;
      background-color: #282828;
      cursor: default;

      &:hover {
        color: #fff;
        background-color: #282828;
      }

      &:active {
        border-color: transparent;
        color: #fff;
        background-color: #282828;
        transform: none;
      }
    }
  }

  &_productSelect {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #232323;
    background-color: transparent;
    transition: all $duration ease-in-out;
    cursor: pointer;

    &:hover {
      border-radius: 5px;
      box-shadow: 0 2px 4px rgb(0, 0, 0, 0.04);
      background: #fff;
    }

    &_active {
      border-radius: 5px;
      box-shadow: 0 2px 4px rgb(0, 0, 0, 0.04);
      background: #fff;
      cursor: default;

      &:active {
        transform: none;
      }
    }
  }
}
