@use './../../styles/variables' as *;
@use 'sass:color';

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 15px;

  @media (width <= 700px) {
    justify-content: start;
  }
}
