@use './../../styles/variables' as *;
@use 'sass:color';

.categories {
  ul {
    display: flex;

    li {
      margin-right: 10px;
      border-radius: 30px;
      padding: 13px 30px;
      font-weight: 700;
      background-color: #f9f9f9;
      transition: background-color 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: color.adjust(#f9f9f9, $lightness: -5%);
      }

      &:active {
        background-color: color.adjust(#f9f9f9, $lightness: -10%);
      }

      &.active {
        color: #fff;
        background-color: #282828;
      }
    }
  }
}
