@font-face {
  src: url('./../assets/fonts/Nunito-Light.woff2');
  font-family: 'Nunito';
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-Regular.woff2');
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-Medium.woff2');
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-SemiBold.woff2');
  font-family: 'Nunito';
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-Bold.woff2');
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-ExtraBold.woff2');
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
}

@font-face {
  src: url('./../assets/fonts/Nunito-Black.woff2');
  font-family: 'Nunito';
  font-weight: 900;
  font-style: normal;
}
