@use 'sass:color';
@use 'variables' as *;
@use 'fonts';

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 50px;
  min-width: 350px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $txtColor;
  background-color: $backgroundColor;

  @media (width <= 700px) {
    padding: 15px;
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  border-radius: 10px;
  height: 100%;
  max-width: 1400px;
  background-color: #fff;
}

.content {
  padding: 50px 0;
}
