@use './../../styles/variables' as *;
@use 'sass:color';

.product {
  width: 250px;
  text-align: center;

  &__image {
    position: relative;
    border-radius: 30px;
    width: 100%;
    transition: all $duration ease-in-out;

    &:hover {
      padding: 1px;
    }
  }

  &__title {
    padding: 20px 0;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1%;
  }

  &__selector {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 6px;
    background-color: #f3f3f3;
    gap: 5px;
  }

  &__types {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &__count {
    display: block;
    margin-left: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    color: $mainColor;
    background-color: #fff;
  }
}
