@use './../../styles/variables' as *;
@use 'sass:color';

.sort {
  position: relative;

  &__icon {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    color: #f00;
    fill: #f00;

    svg {
      fill: #f00;
    }

    path {
      fill: #f00;
    }
  }

  &__label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    button {
      border: none;
      border-bottom: 1px dashed $mainColor;
      color: $mainColor;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__sortList {
    position: absolute;
    right: 0;
    z-index: 1;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px 0;
    width: 160px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.09);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all $duration ease-in-out;

    &_active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgb(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: 700;
          color: $mainColor;
        }
      }
    }
  }
}
